* {
  color: #fff;
  font-family: 'tiza', 'Ubuntu', 'Roboto', sans-serif;
}

input {
  border: 3px solid #fff;
  outline: none;
  border-radius: 20px;
  height: 2.5rem;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px;
  color: #000
}

p {
  font-family: 'Circular-Loom';
}

.swal-text, .swal-title {
  font-family: 'Circular-Loom';
}

textarea {
  border: 3px solid #fff;
  outline: none;
  border-radius: 20px;
  height: 15rem;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  padding: 15px;
  color: #000;
  display: block;
}

button {
  background-color: #eb4d4b;
  color: white;
  /* font-size: 1rem; */
  padding: 0.5rem;
  width: 100%;
}

button:active {
  border: 2px solid #000;
  transform: scale(1.1, 1.1);
  transition: ease-in-out all .5s;
}